coloredlogs==15.0.1
fastapi==0.95.1
mangum==0.17.0
uvicorn==0.21.1
sqlalchemy==2.0.10
alembic==1.10.3
notion-client==2.0.0
psycopg2-binary==2.9.6
shortuuid==1.0.11
termcolor==2.2.0
rich==13.3.4
pgvector==0.1.6
openai==0.27.4
slack-bolt==1.18.0
slack-sdk==3.21.2
notion2md==2.8.2
markdown-it-py==2.2.0
nltk==3.8.1
spacy==3.5.2
pydub==0.25.1
tiktoken==0.3.3

# for pyAudioAnalysis
pyAudioAnalysis==0.3.14
scipy==1.10.1
scikit-learn==1.2.2
hmmlearn==0.3.0
eyed3==0.9.7
imbalanced-learn==0.10.1
plotly==5.14.1

# try another approach
# pyannote.audio-2.1.1

# torch-2.0.0
# torchaudio-2.0.1

# try another approach
cython==0.29.34